*{
    box-sizing: border-box;
}
body{
    position: absolute;
}
.container{
    margin-top: -8px;
    margin-left: 23px;
}
.img-size{
    width: 86px;
    height: 59px;
    margin-top: 15px;
}
h2{
    width: 167px;
    height: 41px;
    left: 316px;
    /* top: 232px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #8C8EF2;
}
h6{
    width: 351px;
    height: 19px;
    left: 316px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #564D4D;
}
.checkbox{
    margin-top: 25px;
    margin-bottom: 37px;
}
.text-size{
    background: #FFFFFF;
    border-radius: 27px;
    margin-top: 23px 34px;
    margin-right: 0px;
    margin-left: 168px;
    margin-top: 40px;
    width: 880px;
    height: 662px;
    padding-top: 11px;
    padding-left: 91px;
}
.form-control {
    display: block;
    height: 34px;
    width: 39%;
    padding: 22px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 23px;
}
.form-control-1 {
    display: block;
    width: 271px;
    height: 39px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
p2{
    margin-left: 73px;
}
.btn-default {
    color: #fff;
    width: 270px;
    border-radius: 24px;
    width: 297px;
    height: 50px;
    left: 86px;
    top: 491px;
    background: #8C8EF2;
    border-radius: 30px;
}
.col-lg-5-bg {
    width: 410px;
    background: rgb(235, 235, 253);
    border-radius: 20px;
    position: absolute;
    padding-left: 29px;
    left: 643px;
    top: 137px;
    height: 646px;
    position: absolute;
}
.text-size-9{
    margin-top: -537px;
    margin-left: 3px;
    height: 495px;
    position: relative;
    padding: 1px;
}
.container-fluid{
    height: 748px;
    width: 169%;
    background-image: url(image/Group\ 190.png);
    background-size: contain;
    background-position: center;
    margin-top: 22px;
}
.col-lg-5-bg-1 {
    width: 410px;
    background: rgb(235, 235, 253);
    border-radius: 20px;
    position: absolute;
    padding-left: 29px;
    left: 644px;
    top: 905px;
    height: 647px;
}
.container-2{
    margin-top: 65px;
}
.container-3{
    margin-top: 65px;
}
.col-lg-5-bg-2 {
    width: 410px;
    background: rgb(235, 235, 253);
    border-radius: 20px;
    position: absolute;
    padding-left: 29px;
    left: 644px;
    top: 1676px;
    height: 648px;
}
.wrapper{
    margin-top: 23px;
    max-width: 900px;
    margin-left: 140px;
    display: grid;
    grid-template-columns: repeat(2, 150px) 100px;
    grid-template-rows: 52px 50px;
    grid-gap: 5px;
}
/* .one{
    height:500px;
    background: #FFFFFF;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.04);
} */
.two{
    margin-left: -143px;
    height:792px;
    background: #DADAF9;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.04);
    width: 213px;
}
.three{
    height: 90px;
    margin-left:80px;
    grid-column: 3/9;
    width:1589px;
    background: #E2E2F6;
    position: absolute;
}
.four{
    margin-top: 98px;
    margin-left: 80px;
    grid-column: 3/4;
    width: 1589px;
    height: 692px;
    background: #F8F8FA;
    box-shadow: 4px 4px 25px 4px rgb(0 0 0 / 8%);
    position: absolute;
}
.container-22{
    background: #F6F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    height: 93px;
}
.container-23{
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 8px;
    height: 48px;
    margin-top: 4px;
    padding-left: 14px;
    padding-top: 12px;
}
/* .container-23{
    background: #E4E4F7;
    height: 33px;
    margin-top: 6px;
    padding-left: 14px;
    padding-top: 6px;
} */
.container-25{
    background: #F6F3F3;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 4%);
    height: 90px;
    margin-top: 502px;
}
.container-26{
    font-size: 42px;
    margin-top: 19px;
    margin-left: 119px;
}
#text-align{
    width: 23px;
    height: 23px;
    margin-top: -37px;
    margin-left: 156px;
} 
#text-align-1{
    width: 23px;
    height: 23px;
    margin-top: -33px;
    margin-left: 156px;
} 
#text-align-9{
    width: 85px;
    height: 53px;
    margin-top: 18px;
    margin-left: 49px;
} 
.btn2{
    margin-top: 52px;
    margin-left: 23px;
    width: 95px;
    height: 30px;
    background: #8C8EF2;
    border-radius: 5px;
    border: none;
    padding-top:7px;
}
#text-align-2{
    width: 13px;
    height: 13px;
    margin-top: -43px;
    margin-left: 69px;
} 
#size-1{
    color: #FFFFFF;
    margin-left:-20px;
    height: 33px
}
.row-3{
    margin-left: 130px;
    margin-top: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    /* font-size: 14px; */
    line-height: 17px;
    color: #8C8EF2;
}
.container-fluid-29{
position: absolute;
width: 1589px;
height: 47px;
left:0px;
top:144px;
background: #F2F2FB;
}
.container-fluid-30{
    position: absolute;
    width:1589px;
    height: 47px;
    left: 0px;
    top:195px;
    background: #EBEBFB;
}
.container-fluid-31{
    position: absolute;
    width:1589px;
    height: 47px;
    left:0px;
    top:247px;
    background: #F2F2FB;
}
.container-fluid-32{
    position: absolute;
    width:1589px;
    height: 47px;
    left:0px;
    top:299px;
    background: #EBEBFB;
}
.container-fluid-33{
    position: absolute;
    width:1589px;
    height: 47px;
    left: 0px;
    top: 350px;
    background: #F2F2FB;
}
.container-fluid-34{
    position: absolute;
    width:1589px;
    height: 47px;
    left: 0px;
    top: 401px;
    background: #EBEBFB;
}
.container-fluid-35{
    position: absolute;
    width:1589px;
    height: 47px;
    left: 0px;
    top: 453px;
    background: #F2F2FB;
}
.container-fluid-36{
    position: absolute;
    width:1589px;
    height: 47px;
    left:0px;
    top: 506px;
    background: #EBEBFB;
}
.container-fluid-37{
    position: absolute;
    width:1589px;
    height: 47px;
    left: 0px;
    top: 558px;
    background: #F2F2FB;
}
.container-fluid-38{
    position: absolute;
    width:1589px;
    height: 47px;
    left: 0px;
    top:610px;
    background: #EBEBFB;
}
.test-size-90{
position: absolute;
width: 99px;
height: 41px;
left: 168px;
top: 28px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
color: #8C8EF2;
}
.fa-solid{
    position: absolute;
    left: 8.19%;
    right: 17.19%;
    top: 42.56%;
    bottom: 23.44%;
    color: #8C8EF2;
    font-size: 23px;
}
.container-4{
    margin-top: 46px;
    position: relative
}
.container-5{
    margin-top:755px;
    position: relative;
}
.container-6{
    margin-top:755px;
    position: relative
}
.container-7{
    margin-top:755px;
    position: relative
}
.container-8{
    margin-top:755px;
    position: relative
}
.container-fluid-6{
position: relative;
width: 1126px;
height: 820px;
left:137px;
top: 14px;
background: #EBEBF8;
border: 1px solid #F2F2FB;
box-shadow: 4px 4px 50px 6px #CACBF9;
border-radius: 57px;
}
.container-fluid-7{
    position: absolute; 
    position: relative;
    width: 1512px;
    height: 94px;
    background: #F8F8FA;
}
.bg-size{
    padding-left: 103px;
    margin-top: 58px;
    position: relative;
}
.bg-size-1{
    margin-left: -5px;
    margin-top: 58px;
    position: relative;
}
.dropdown-toggle{
    border-radius: 1px;
    height: 38px;
}
#text-align-10{
position: relative;
width: 380px;
height: 41px;
left: 368px;
top: 13px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #8C8EF2;
}
.form-control-2 {
    position: absolute;
    width: 831px;
    height: 118px;
    left: 233px;
    top: 66px;
    background: #FFFFFF;
    border: 1px solid #F2F2FB;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 16px;
    font-weight: 700;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #564D4D;
}
.container-9{
    position: relative;
    margin-top: 686px;
    width: 1512px;
    height: 982px;
    background: #FFFFFF;
}
.form-group-1{
    margin-left: 187px;
    margin-top: 14px;
}
.form-group-2{
    margin-top: 143px;
    margin-left: 184px;
    position: relative;
}

.form-control-3{
    position: relative;
    width: 223px;
    height: 42px;
    left: -66px;
    top: 38px;
    background: #FFFFFF;
    border: 1px solid #F2F2FB;
}
.btn-22{
    position: absolute;
    width: 193px;
    height: 50px;
    left: 294px;
    top: 718px;
    background: #8C8EF2;
    border-radius: 30px;
    margin-left: 435px;
    /* position: relative; */
    border: #ffff;
}
.container-10{
    position: absolute;
width: 1512px;
height: 982px;

background: #FFFFFF;
}